@font-face {
  font-family: "RobotaSlab";
  src: url("../src/assets/fonts/RobotaSlab/RobotoSlab-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background: url(./assets/pic/pic/fon3.jpg) fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  color: #336600;
  border-bottom: 1px solid #cccccc;
  font-size: 20px;
}

.clr {
  clear: both;
}

.main-top {
  margin: 0;
  width: 100%;
  height: 50px;
  background: #3c3c3c;
}

.main-top-in {
  width: 1180px;
  color: #c3c0b9;
  margin: 0 auto;
  padding: 15px;
}

.main {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 0 0 15px 0;
  background: url(./assets/pic/pic/back1.png) repeat;
  box-shadow: inset 0px 0px 10px 0px #ccc;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-top: none;
  margin: 0px auto;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0px 0px 5px 0px #ccc;
  overflow: hidden;
  background: #fff;
}

.logo-n-slogo {
  float: left;
  margin: -10px 0 0 0;
}

.logo-n-slogo p {
  font-size: 18px;
  font-weight: normal;
  font-family: Candara, Ubuntu, sans-serif;
}

.logo-n-slogo img {
  margin-top: 0 0 0 20px;
}

.logo-n-slogo a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 38px;
  font-weight: bold;
  color: #99cc33;
  font-family: RobotaSlab;
  text-shadow: 3px 3px #ccc;
  -webkit-text-stroke: 1px #397610;
}

.top-contact {
  float: right;
  margin: -10px 40px 0 0;
}

.top-contact a {
  text-decoration: none;
  color: #cc0000;
  font-style: oblique;
  line-height: 1.8;
}

.top-contact a:hover {
  text-decoration: underline;
}

.top-contact li {
  list-style: none;
}
.top-menu {
  width: 1180px;
  background: #397610;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: inset 0px 0px 5px 0px #122305;
}

.top-menu ul {
  width: 100%;
  margin: 0 auto;
}

.top-menu li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.top-menu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.top-menu a:hover {
  text-decoration: underline;
}

.top-menu li form {
  display: inline;
  float: right;
  margin: -6px 40px 5px 0;
}

.top-menu li form input {
  border-radius: 3px;
  padding: 3px;
  font-size: 16px;
  font-weight: normal;
  font-family: Candara, Ubuntu, sans-serif;
}

.top-menu li .menu-submit {
  cursor: pointer;
}

.zakaz {
  color: #fff;
  background: #ef7b0b;
  padding: 5px;
  border-radius: 2px;
  box-shadow: inset 0px 0px 5px 0px #122305;
  transition: 0.2s;
}

.zakaz:hover {
  opacity: 0.9;
}

.middle {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  align-items: stretch;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

#content {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  flex: 1 0 0;
}
#base {
  height: 100%;
  background: #ffffff;
  padding: 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 3px 0px #333;
  display: inline;
  margin: 10px 0 0 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#base a {
  text-decoration: none;
  color: #357814;
  transition: 0.2s;
}

#base a:hover {
  text-decoration: underline;
  color: #99cc33;
}
.ban336 {
  display: none;
}

.wrap-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 210px;
  min-width: 180px;
  height: 100%;
  border: 1px solid #cfcfcf;
  padding: 0px 0px 0px 0px;
  margin: 9px;
  padding: 0px;
  float: left;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.2s;
}

.box:hover {
  opacity: 0.8;
  transition: all 0.3s;
  box-shadow: 2px 2px 3px 3px #cccccc;
}

.box img {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.box span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.box a {
  text-decoration: none !important;
  transition: 0.2s;
}

.box a:hover {
  text-decoration: none !important;
}

#base .box .ban a {
  text-decoration: none;
  color: #333333;
  transition: 0.2s;
}

#base .box .ban a:hover {
  color: #c3c3c3;
  text-decoration: none;
}

#base h4 {
  color: #ef7b0b !important;
}

.back {
  font-size: 18px;
  padding: 10px auto;
  margin: 12px;
}

dl {
  width: 250px;
  text-align: left;
  margin: 10px;
  padding: 5px;
}

dt {
  font-style: normal;
  font-weight: bold;
}

dd {
  line-height: 25px;
}

.ban {
  background-color: #fff;
  font-weight: normal;
  padding: 5px;
  height: 30px;
  width: auto;
  font-size: 14px;
  color: #333;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--Окно проекта--*/
.box3 {
  height: auto;
  border: 1px solid #cfcfcf;
  padding: 0px 0px 0px 0px;
  margin: 10px;
  padding: 0px;
  float: left;
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.box3 img {
  margin: 10px;
}

.box3 p {
  text-align: left;
}

.box3img {
  float: left;
  width: 220px;
}
.box3img img {
  width: 200px;
  height: 200px;
}
.box3dl {
  margin-left: 250px;
}

.box4 {
  width: 200px;
  height: 50px;
  border: 1px solid #cfcfcf;
  padding: 0px 0px 0px 0px;
  margin: 10px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: 0.2s;
}

.box4:hover {
  background-color: #ddeeb9;
}

.box4 img {
  margin: 0;
  width: 50px;
  height: 50px;
  float: left;
}

.box4 h5 {
  font-size: 16px;
  margin: 5px auto;
}

/*--Окно проекта--*/

/*--Страницы PAY--*/
.box4 {
  width: 200px;
  height: 50px;
  border: 1px solid #cfcfcf;
  padding: 0px 0px 0px 0px;
  margin: 10px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: 0.2s;
}

.box4:hover {
  background-color: #ddeeb9;
}

.box4 img {
  margin: 0;
  width: 50px;
  height: 50px;
  float: left;
}

.box4 h5 {
  font-size: 16px;
  margin: 5px auto;
}

.boxpay {
  width: 480px;
  height: auto;
  border: 1px solid #cfcfcf;
  padding: 0px 0px 0px 0px;
  margin: 50px auto;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.boxpay h4 {
  color: #ffdd00;
}

.boxpay a {
  text-decoration: none;
  color: #357814;
  transition: 0.2s;
}

.boxpay a:hover {
  text-decoration: underline;
  color: #99cc33;
}
/*--END Страницы PAY--*/

/*--Вопросы--*/
.sub2 {
  margin-bottom: 10px;
  list-style: none;
}

.subp {
  width: 400px;
  margin: 5px 10px 15px 80px;
  border: solid 1px #cccccc;
  padding: 5px;
  display: none;
}

.vc {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 0px dotted;
  color: #357814;
  transition: 0.2s;
}

.vc:hover {
  text-decoration: underline;
  color: #99cc33;
  cursor: pointer;
}

/*--Вопросы--*/

/*--Инструменты для мебельщика--*/
.sub {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px dotted;
}
/*--Инструменты для мебельщика--*/

/*--Левое меню--*/

#lside {
  width: 200px !important;
  height: auto;
  background: #99cc33;
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 0px #397610;
  padding: 20px 0 0 0;
  margin-top: 10px;
}

#lside a {
  text-decoration: none;
  color: #357814;
  transition: 0.2s;
}
/*
        #lside a:hover{
        color: #99CC33;
        }*/

#lside .list ul a:hover {
  background-color: #99cc33;
  color: #f0f0f0;
}

/*--END Левое меню--*/

/*--Lside subscribe--*/

#listform {
  margin: 0;
  text-align: center;
  color: #397610;
  font-family: Candara, Ubuntu, sans-serif;
}

#listform table {
  margin: 0 auto;
}

#listform input {
  width: 150px;
  height: 30px;
  border: 1px solid #c8c8c8;
  color: #333;
  border-radius: 5px;
  text-align: center;
}

#listform .lsidesub {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #6d9420;
  color: #397610;
  font-weight: bold;
  background: #83b61f;
  font-family: Candara, Ubuntu, sans-serif;
  font-size: 16px;
}

#listform .lsidesub:hover {
  cursor: pointer;
  color: #d8e3e3;
  font-weight: bold;
  background: #a2db34;
}

/*--END Lside subscribe--*/

/*---Списки в меню слева----*/
.list {
  color: #555;
  padding: 0 !important;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  font-family: Candara, Ubuntu, sans-serif;
  border-bottom: 1px solid #397610;
  border-top: 1px solid #badc72;
  margin: 0;
}

.leftsb {
  border-bottom: 1px solid #397610;
  border-top: 1px solid #badc72;
  margin: 0;
}

.list:first-child {
  border-top: none;
}

.list:last-child {
  border-bottom: none;
}

.list li {
  list-style: none;
}

.list h2 {
  background-color: #397610;
  color: #e3e3e3;
  margin-left: -5px;
  padding: 10px 10px 10px 15px;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0px 0px 5px 0px #214509;
  font-size: 22px;
  font-weight: bold;
  font-family: Candara, Ubuntu, sans-serif;
}

.list a {
  list-style: none;
  text-indent: 10px;
  height: auto;
  padding: 10px;
  margin: 5px auto;
  display: block;
}

.list a:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  color: #99cc33;
  margin-left: -5px;
  padding: 10px 10px 10px 15px;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0px 0px 5px 0px #ccc;
}

.list ul li {
  font-size: 14px;
  font-style: italic;
  font-family: Candara, Ubuntu, sans-serif;
}

/*---END Списки в меню слева----*/

/*--Правое меню--*/

#rside {
  width: 200px;
  height: auto;
  margin-left: 0px;
  margin-top: 10px;
  vertical-align: top;
  background: #99cc33;
  /*border-left:1px solid #cfcfcf;
        border-top:1px solid #cfcfcf;*/
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 0px #397610;
  padding: 20px 0 0 0;
}

#rside a {
  text-decoration: none;
  color: #357814;
  transition: 0.2s;
}

#rside a:hover {
  /*text-decoration:underline;*/
  color: #99cc33;
}

/*--END Правое меню--*/

/*---Списки в меню справа----*/
.rist {
  color: #555;
  padding: 0 !important;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  font-family: Candara, Ubuntu, sans-serif;
  border-bottom: 1px solid #397610;
  border-top: 1px solid #badc72;
  margin: 0;
}

.rist:first-child {
  border-top: none;
}

.rist:last-child {
  border-bottom: none;
}

.rist li {
  list-style: none;
}

.rist li h2 {
  background-color: #397610;
  color: #e3e3e3;
  margin-right: -5px;
  padding: 10px 10px 10px 15px;
  border-radius: 0 5px 5px 0;
  box-shadow: inset 0px 0px 5px 0px #214509;
  font-size: 22px;
  font-weight: bold;
  font-family: Candara, Ubuntu, sans-serif;
}

.rist a {
  list-style: none;
  text-indent: 10px;
  height: auto;
  padding: 10px;
  margin: 5px auto;
  text-transform: capitalize;
  border-bottom: 0px dashed #555;
  display: block;
  transition: 0.2s;
}

.rist a:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  color: #99cc33;
  margin-right: -5px;
  padding: 10px 15px 10px 10px;
  border-radius: 0 5px 5px 0;
  box-shadow: inset 0px 0px 5px 0px #ccc;
}
#hider {
  display: none;
}

/*---END Списки в меню справа----*/

.footer {
  background: #34362f;
  margin: auto;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  border-left: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
  padding: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px 0px #000000;
  -moz-box-shadow: inset 0px 0px 5px 0px #000000;
  -ms-box-shadow: inset 0px 0px 5px 0px #000000;
  box-shadow: inset 0px 0px 5px 0px #000000;
  overflow: hidden;
}
.simpl {
  width: 160px;
  margin: 20px;
  float: left;
  font-size: 13px;
  color: #cccccc;
}

.simpl a {
  color: #99cc33;
  text-decoration: none;
  transition: 0.2s;
}

.simpl a:hover {
  text-decoration: underline;
  color: #357814;
}

.fav {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 3px;
}

/*###################################################################################
  #####################################################################################
  #####################################################################################
  #####################################################################################
  #####################################################################################*/

@media screen and (max-width: 1250px) {
  .main {
    width: 980px;
  }
  .top-header {
    width: 900px;
  }
  .top-menu {
    width: 900px;
  }
  .box3 dl {
    width: 200px;
    margin: 0;
  }
  .box3dl {
    margin-right: 10px;
  }
  .box4 {
    width: 180px;
  }
  .box3dl dd {
    margin-left: 0;
  }
  .ban336 {
    display: block;
    margin-top: 50px;
  }
  .ban580 {
    display: none;
  }
  .boxpay {
    width: 447px;
  }
  .simpl {
    width: 150px;
  }
}

@media screen and (max-width: 980px) {
  .main {
    width: 768px;
  }
  .top-header {
    width: 688px;
  }
  .top-menu {
    width: 688px;
  }
  .box3 dl {
    width: 200px;
  }
  .ban336 {
    display: block;
    margin-top: 50px;
  }
  .ban580 {
    display: none;
  }
  .boxpay {
    width: 447px;
  }
  .simpl {
    width: 100px;
  }
  #lside {
    margin-left: 0;
  }
  #rside {
    display: none;
  }
  #hider {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 95%;
    max-width: 768px;
    min-width: 500px;
  }
  .top-header {
    width: 90%;
    margin: 10px auto;
  }
  .top-menu {
    width: 90%;
    margin: 10px auto;
  }
  .top-menu li {
    display: block;
  }
  .top-menu li form {
    display: block;
    float: none;
    margin: 10px 0 0 0;
  }
  .middle {
    flex-direction: column;
  }
  #content {
    float: none;
    width: 100%;
  }
  #base {
    width: 90%;
    margin: 10px auto;
    margin-left: none;
    float: none;
    display: block;
  }
  .box {
    font-size: 12px;
  }
  .ban {
    font-size: 12px;
  }
  .box3 {
    float: none;
  }
  .box3 dl {
    padding: 5px;
  }
  .box3img img {
    width: 150px;
    height: 150px;
  }
  .box3dl {
    margin-left: 200px;
  }
  .box4 {
    width: 180px;
  }
  .ban336 {
    display: block;
    margin-top: 50px;
  }
  .ban580 {
    display: none;
  }
  .boxpay {
    width: 90%;
  }
  .simpl {
    width: 100px;
  }
  #lside {
    display: none;
    margin-left: 0;
    float: none;
    margin: 10px auto;
    width: 96%;
    clear: both;
    margin-left: none;
  }
  .list h2 {
    margin-left: 0;
    padding: 10px 10px 10px 15px;
    border-radius: 0;
    box-shadow: inset 0px 0px 5px 0px #214509;
    font-size: 22px;
    font-weight: bold;
    font-family: Candara, Ubuntu, sans-serif;
    text-align: center;
  }
  .list a {
    text-align: center;
  }
  #rside {
    display: none;
  }
  #hider {
    display: inline;
  }
}

@media screen and (max-width: 500px) {
  .main {
    background: none;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
  }
  .logo-n-slogo p {
    font: normal 14px Candara;
  }

  .logo-n-slogo img {
    width: 100%;
  }
  .top-header {
    width: 90%;
    margin: 10px auto;
    margin-left: -5px;
  }
  .top-contact {
    display: none;
  }
  .top-menu {
    width: 90%;
    margin: 10px auto;
    margin-left: -5px;
  }
  .top-menu ul {
    padding: 0;
  }
  .top-menu li {
    display: block;
  }
  .top-menu li form {
    display: block;
    float: none;
    margin: 10px 0 0 0;
  }
  .top-menu li form input {
    font-size: 12px;
  }
  #content {
    float: none;
    width: 100%;
  }
  #base {
    margin: 10px auto;
    margin-left: -5px;
    float: none;
    display: block;
    font-size: 12px;
  }
  .box {
    font-size: 12px;
  }
  .ban {
    font-size: 12px;
  }
  .box3 {
    float: none;
  }
  .box3 p {
    text-align: none;
  }
  .box3 dl {
    padding: 5px;
  }
  .box3img {
    float: none;
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
  }
  .box3dl {
    margin-left: 10px;
    width: 100%;
    float: none;
    display: block;
  }
  .ban336 {
    display: block;
    margin-top: 50px;
  }
  .ban580 {
    display: none;
  }
  .boxpay {
    width: 90%;
  }
  #kontactform div {
    width: 250px !important;
    float: none !important;
    padding: 10px 0 0 0 !important;
  }
  #kontactform input {
    width: 200px !important;
  }
  #kontactform textarea {
    width: 200px !important;
  }
  .simpl {
    width: 90%;
    float: none;
  }
  .simpl ul {
    padding: 0;
  }
  .simpl li {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    padding: 2px;
  }
  #lside {
    margin-left: 0;
    float: none;
    margin: 10px auto;
    width: 100%;
    clear: both;
    margin-left: none;
  }
  .list h2 {
    margin-left: 0;
    padding: 10px 10px 10px 15px;
    border-radius: 0;
    box-shadow: inset 0px 0px 5px 0px #214509;
    font-size: 22px;
    font-weight: bold;
    font-family: Candara, Ubuntu, sans-serif;
    text-align: center;
  }
  .list a {
    text-align: center;
  }
  #rside {
    display: none;
  }
  #hider {
    display: inline;
  }
}
